.DS_Store
node_modules/
dist/
public/
npm-debug.log
.idea/
/components/core/AppToolbar.vue
/lang/en
/lang/index.js
/lang/nl/components
/lang/nl/directives
/lang/nl/generic
/lang/nl/getting-started
/lang/nl/guides
/lang/nl/layout
/lang/nl/mixins
/lang/nl/motion
/lang/nl/style
/lang/nl/index.js